<p id="notice"><%= notice %></p>

<%= link_to 'TOP', '#', id: 'toTop' %>

<h1>Hospices</h1>

<%= link_to 'Add Hospice', new_hospice_path, class: "btn btn-success", id: "addHospice" %>

<div class="panel-group" id="accordian">
  <div class="hospices">
    <% @hospices.each do |hospice| %>
      <div class="hospices-row">

        <div class="panel-heading">
          <strong><%= hospice.name %></strong><br>
          <%= button_to 'Edit', edit_hospice_path(hospice), method: :get, class: 'btn btn-info' %>
          <%= button_to 'Remove', hospice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

          <a data-toggle="collapse" data-parent="#accordian" href="#collapse<%=hospice.id%>">
          <span class="fa fa-arrow-circle-down" onclick="toggleInfo(this)">More Info</span></a>
        </div>

      <div id="collapse<%=hospice.id%>" class="panel-collapse collapse out">
        <div class="panel-body">

        <p class="hospiceAddress">
        <%= hospice.name %><br>
        <%= hospice.address1 %><br>

        <%if hospice.address2? %>
          <%= hospice.address2 %><br>
        <%end%>

        <%= hospice.city %>, <%= hospice.state %> <%= hospice.zipcode %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= hospice.main_phone %>
      </p>

      <p>
        <strong>Fax:</strong>
        <%= hospice.fax %>
      </p>

      <%if hospice.referral_phone? %>
      <p>
        <strong>Referral phone:</strong>
        <%= hospice.referral_phone %>
      </p>
      <%end%>

      <p>
        <strong>Description:</strong>
        <%= hospice.description %>
      </p>

      <p>
        <strong>Bed Owner?</strong>
        <%= hospice.bed_owner %>
      </p>
    </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
