<p id="notice"><%= notice %></p>

<h2>Your Open Reservations</h2>

<table classs='table table-hover'>
  <thead>
    <tr>
      <th>Bed</th>
      <th>Hospice</th>
      <th>Gender</th>
      <th>Room Type</th>
      <th>Bed Type</th>
      <!-- <th>User</th> -->
      <th>Reservation Date</th>
      <th>Date Reopened</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.bed_id %></td>
        <td><%= reservation.bed.hospice.name %></td>
        <td><%if reservation.bed.gender.capitalize == "Female"%>
              <i class="fa fa-female"></i>
            <%else%>
              <i class="fa fa-male"></i>
            <%end%></td>
        <td><%= reservation.bed.room_type %></td>
        <td><%= reservation.bed.bed_type %></td>
        <td><%#= reservation.user.last_name %></td>
        <td><%= reservation.reserve_date %></td>
        <td><%= reservation.reopen_date %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path, class: "btn btn-default"  %>
