<p id="notice"><%= notice %></p>

<p>
  <strong>Bed:</strong>
  <%= @reservation.bed_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.last_name %>
</p>

<p>
  <strong>Reserve date:</strong>
  <%= @reservation.reserve_date %>
</p>

<p>
  <strong>Reopen date:</strong>
  <%= @reservation.reopen_date %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
