<%= form_for(bed) do |f| %>
  <% if bed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bed.errors.count, "error") %> prohibited this bed from being saved:</h2>

      <ul>
      <% bed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" field form-group">
    <%= f.label :hospice %>
    <%= f.collection_select :hospice_id, Hospice.order(:name), :id, :name %>
  </div>

  <div class=" field form-group">
    <%= f.label :status %>
    <%= f.select :status, ['Open', 'Occupied'], :prompt => 'Select Status', class: "form-control" %>
  </div>

  <div class=" field form-group">
    <%= f.label :room_type %>
    <%= f.select :room_type, ['Private', 'Semi-Private'], :prompt => 'Select Privacy Type', class: "form-control" %>
  </div>

  <div class=" field form-group">
    <%= f.label :bed_type %>
    <%= f.select :bed_type, ['Respite', 'In-Patient'], class: "form-control" %>
  </div>

  <div class=" field form-group">
    <%= f.label :gender %>
    <%= f.select :gender, ['Male', 'Female'], :prompt => 'Select Gender', class: "form-control" %>
  </div>

  <div class=" field form-group">
    <%= f.label :description %>
    <%= f.text_field :desc, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
