<p id="notice"><%= notice %></p>

<h1>Beds</h1>

<div class="panel-group">
  <div class="hospiceBeds">
    <% @beds.each do |bed| %>
    <div class="hospiceBeds-row">
        <strong><%= bed.hospice.name %></strong>
        <%= bed.status.capitalize %>
        <%= bed.room_type.capitalize %>
        <%= bed.bed_type %>
        <%= bed.gender.capitalize %>
        <%= bed.desc %>
        <%= link_to 'Edit', edit_bed_path(bed) %>
        <%= link_to 'Remove', bed, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Add a Bed', new_bed_path, class: "btn btn-default"  %>
