<p id="notice"><%= notice %></p>

<h1>Beds</h1>

<table>
  <thead>
    <tr>
      <th>Hospice</th>
      <th>Status</th>
      <th>Room type</th>
      <th>Bed type</th>
      <th>Gender</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beds.each do |bed| %>
      <tr>
        <td><%= bed.hospice_id %></td>
        <td><%= bed.status %></td>
        <td><%= bed.room_type %></td>
        <td><%= bed.bed_type %></td>
        <td><%= bed.gender %></td>
        <td><%= bed.desc %></td>
        <td><%= link_to 'Show', bed %></td>
        <td><%= link_to 'Edit', edit_bed_path(bed) %></td>
        <td><%= link_to 'Destroy', bed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bed', new_bed_path %>
