<p id="notice"><%= notice %></p>

<p>
  <strong>Hospice:</strong>
  <%= @bed.hospice.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bed.status.capitalize %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @bed.room_type.capitalize %>
</p>

<p>
  <strong>Bed type:</strong>
  <%= @bed.bed_type.capitalize %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @bed.gender.capitalize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bed.desc %>
</p>

<%= link_to 'Edit', edit_bed_path(@bed) %> |
<%= link_to 'Back', beds_path %>
