<div class="panel-group" id="accordian">
  <ol class='openBed'>
    <% @open_beds.each do |bed| %>
      <li>
        <div class="panel-heading">
          <strong><%= bed.hospice.name %></strong>

          <%if bed.gender.capitalize == "Female"%>
            <i class="fa fa-female"></i>
          <%else%>
            <i class="fa fa-male"></i>
          <%end%>

          <%= bed.room_type.capitalize %>
          <%= bed.bed_type %>
          <button class="btn-success" id ="reserveBtn">RESERVE</button>
        </div>

        <div class="footer">
          <a data-toggle="collapse" data-parent="#accordian" href="#collapse<%=bed.id%>">
            <i class="fa fa-arrow-circle-down">Info</i></a>
        </div>

        <div id="collapse<%=bed.id%>" class="panel-collapse collapse out">
          <div class="panel-body">
            <p>
              <strong>Name:</strong>
              <%= bed.hospice.name %>
            </p>

            <p>
              <strong>Address1:</strong>
              <%= bed.hospice.address1 %>
            </p>

            <p>
              <strong>Address2:</strong>
              <%= bed.hospice.address2 %>
            </p>

            <p>
              <strong>City:</strong>
              <%= bed.hospice.city %>
            </p>

            <p>
              <strong>State:</strong>
              <%= bed.hospice.state %>
            </p>

            <p>
              <strong>Zipcode:</strong>
              <%= bed.hospice.zipcode %>
            </p>

            <p>
              <strong>Main phone:</strong>
              <%= bed.hospice.main_phone %>
            </p>

            <p>
              <strong>Fax:</strong>
              <%= bed.hospice.fax %>
            </p>

            <p>
              <strong>Referral phone:</strong>
              <%= bed.hospice.referral_phone %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= bed.hospice.description %>
            </p>

            <p>
              <strong>Bed owner:</strong>
              <%= bed.hospice.bed_owner %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
</div>
